body {
  background-color: #353a47;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.content {
  text-align: center;
  margin: 100px auto 20px;
  width: 98%;
}

nav{
  background-color: #0d2c54;
  height: 70px;
  box-shadow: 5px 5px 7px #000; 
}

a{
  text-decoration: none;
  color: #84b082;
  font-weight: 900;
}

a:hover{
  color: #fff;
}

.result{
  width: 32%;
}

form {
  margin: 0 auto;
  width: 40%;
  height: auto;
  background: #fff;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 7px #000;
}

label {
  width: 100%;
  color: #0d2c54;
  align-self: flex-start;
  transition: 0.4s linear;
  font-weight: 900;
  font-size: 1.2em;
}

label:focus-within {
  color: silver;
  font-size: 1em;
}

/** Estilo para o elemento select com o ID "country" */
#country {
  color: #0d2c54;
  padding: 5px;
  font-weight: 900;
}


button {
  font-size: 0.8125rem;
  font-weight: 700;
  text-transform: uppercase;
  width: 50%;
  height: 40px;  
  cursor: pointer;
  background:#0d2c54;
  color: #84b082;
  border: 1px solid#000;
  border-radius: 155px;
  margin-top: 0.5rem;
  transition: 0.25s;
}

button:hover,
button:focus {
  outline: none;
  background:  #84b082;
  color: #000;
}

span {
  color: #0d2c54;
  font-size: 1.3em;
  font-weight: 900;
}

p {
  color: #000;
  font-size: 1em;
  font-weight: 900;
}

.flag{
  width: 62%;
  box-shadow: 5px 5px 7px #000;   
  margin-bottom: 25px;
}

.brasao{
  width: 50%;
}

.background-white {
  background-color: white;
  padding: 15px 5px;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 7px #000;
  margin-bottom: 25px;
}

#divFlag, #divBrasao{
  margin-left: 15px;
}  

.custom-title{
  color: #84b082;
  font-weight: 900;
  text-shadow: 2px 1px 1px #000;
}



@media (max-width: 575.98px) {

  form {
    width: 100%;
  }
 
  p, span {
    font-size: 1.1em;
  }

  .result{
    width: 100%;
  }

  .background-white {
    width: 100%;
    margin: 0 auto;
    margin-bottom: 20px;
  }

  .flag, .brasao{
    width: 95%;
  }

}

@media (min-width: 576px) and (max-width: 767.98px) {

  form {
    width: 80%;
  }

  .result{
    width: 68%;
  }
 
}

@media (min-width: 768px) and (max-width: 991.98px) {

  form {
    width: 80%;
  }

  .result{
    width: 64%;
  } 
}